services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - 443:443
    depends_on:
      - wordpress
    restart: always
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html:cached
  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    expose:
      - "9000"
    depends_on:
      - mariadb
    restart: always
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - wordpress_data:/var/www/html:cached
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    expose:
      - "3306"
    restart: always
    env_file:
      - .env
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
networks:
  inception:
    driver: bridge
volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/discallow/data/wordpress
      o: bind
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/discallow/data/mysql
      o: bind